.registerDoctor {
    max-width: auto;
    height: 80vh;

    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;
}

.form_register {
    max-width: 500px;
    text-align: center;
}

.text {
    margin: 10px 0 10px 0
}

.button {
    margin-top: 10px;
}